<div id="main-container">
    <div id="notifs-container" class="pure-g">
        {{#each items as |item|}}
            <div class="user-box pure-u-1-3">
                <div class="user-info">
                    {{item.user}}
                </div>
                <div class="reminders-container">
                    <div class="reminders-header">
                        Daily Reminders 
                        <div class="reminder-header-info">
                            (1:30pm)
                        </div>
                    </div>
                    <div class="reminders-body">
                        {{#each item.reminders.daily as |reminder|}}
                            <div class="reminder-item">
                                {{reminder.real}}
                                <form method="POST" action="/reminder/daily/remove">
                                    <input type="hidden" name="user" value={{item.user}} />
                                    <input type="hidden" name="reminder" value={{reminder.formatted}} />
                                    <button type="submit" class="pure-button icon-button" title="Finished!">
                                        <i class="fas fa-check fa-xs"></i>
                                    </button>
                                </form>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="reminders-container">
                    <div class="reminders-header">
                        Weekly Reminders 
                        <div class="reminder-header-info">
                            (Saturdays 1:30pm)
                        </div>
                    </div>
                    <div class="reminders-body">
                        {{#each item.reminders.weekly as |reminder|}}
                            <div class="reminder-item">
                                {{reminder.real}}
                                <form method="POST" action="/reminder/weekly/remove">
                                    <input type="hidden" name="user" value={{item.user}} />
                                    <input type="hidden" name="reminder" value={{reminder.formatted}} />
                                    <button type="submit" class="pure-button icon-button" title="Finished!">
                                        <i class="fas fa-check fa-xs"></i>
                                    </button>
                                </form>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div id="new-notif-form-container">
        <div>Add new reminders</div>
        <form method="POST" class="pure-form" autocomplete="off">
            <select name="user">
                {{#each items as |item|}}
                    <option value={{item.user}}>{{item.user}}</option>
                {{/each}}
            </select>
            <select name="type">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
            </select>
            <input type="text" name="reminder">
            <input type="submit" value="add" class="pure-button">
        </form>
    </div>
</div>